body {
  color: #70757a;
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: inline;
  font-size: 50px;
}

h2 {
  display: inline;
  font-size: 15px;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 5px;
}

a {
  color: #70757a;
  text-decoration: none;
}

a:hover {
  color: #fa7672;
  font-weight: bolder;
}

.appWrapper {
  margin: 40px 20px 10px 20px;
  max-width: 700px;
}

.mainBody {
  background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  border: 1px solid #70757a88;
  border-radius: 20px;
  max-width: 700px;
  padding: 20px;
}

.mainHeader {
  margin: 15px 0px 0px 0px;
}

.topDisplay {
  font-size: 15px;
}

.tempConvert {
  font-size: 20px;
}

.sideDisplay {
  font-size: 15px;
  margin: 0px;
}

.footer {
  font-size: 12px;
  font-style: italic;
  padding: 0px 0px 0px 23px;
}

.footer a {
  color: #fa7672;
  text-decoration: underline;
}

#city-display {
  text-transform: capitalize;
}

#note-display {
  font-size: 25px;
  padding: 10px 0px 0px 0px;
  text-transform: capitalize;
}

#weather-image {
  float: left;
}

#main-temp {
  font-size: 65px;
  font-weight: bold;
  line-height: 88px;
  margin-left: 20px;
}

#temp-unit {
  margin-left: 15px;
}
