body {
  color: #70757a;
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: inline;
  font-size: 50px;
}

h2 {
  display: inline;
  font-size: 15px;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 5px;
}

.appWrapper {
  max-width: 700px;
  margin: 40px 20px 10px 20px;
}

.mainBody {
  max-width: 700px;
  padding: 20px;
  border: 1px solid #70757a88;

  border-radius: 20px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.topDisplay {
  font-size: 15px;
}

.tempConvert {
  font-size: 20px;
}

.sideDisplay {
  font-size: 15px;
  margin: 0px;
}

.footer {
  font-size: 12px;
  font-style: italic;
  padding: 0px 0px 0px 20px;
}

#note-display {
  font-size: 25px;
  padding: 10px 0px 0px 0px;
}

#weather-image {
  float: left;
}

#main-temp {
  font-size: 65px;
  font-weight: bold;
  margin-left: 20px;
  line-height: 60px;
}
